
#NYTitle{
    background-color:#21325A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    align-items: center;
    margin: 20px 10px 10px 20px;
    padding: 10px 10px 10px 10px;
    border: 20px;
}

